html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  border-radius: 0 50px 0;
}

.banner-head {
  padding: 0 1rem;
  position: absolute;
  bottom: 5rem;
  width: 50em;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, .5);
}
.banner-content {
  padding: 0 1rem;
  position: absolute;
  bottom: 1rem;
  width: 50em;
  font-size: 2rem;
  font-style: italic;
}
